.grosse-icone {
    font-size: 70px;
    color: #EEE;
}

.text-description-police {
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 1000px) {

    h1 {
        color: #FF0000;
    }

}

@media (max-width: 1200px) {

    .grosse-icone {
        color: #0000FF;
    }

}

.persoclasse {
    color: #DDDDDD;
}

.navbar {
    background-color: red;
}
