.grosse-icone {
    font-size: 70px;
    color: #EEE;
}

.text-description-police {
    font-family: 'Dancing Script', cursive;
}

@media (max-width: 1000px) {

    h1 {
        color: #FF0000;
    }

}

@media (min-width: 1000px) and (max-width: 1200px) {

    h1 {
        color: #0000FF;
    }

}

